/**
 * CSS for the Docusaurus homepage in src/pages/index.js
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (min-width: 997px) {
  .heroBanner {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}